:root {
    --bg: #0b0b0b;
    --dark: #111;
    --mustard: #d4a017;
    --text: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: var(--bg);
    color: var(--text);
}

/* NAV */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 100;
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
}

.logo span {
    color: var(--mustard);
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    color: var(--text);
    transition: 0.3s;
}

.nav a:hover {
    color: var(--mustard);
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
                url("https://images.unsplash.com/photo-1516035069371-29a1b244cc32");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.hero-content h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

.hero-content span {
    color: var(--mustard);
}

.hero-content p {
    margin: 20px 0;
    opacity: 0.85;
}

button {
    background: var(--mustard);
    color: black;
    border: none;
    padding: 12px 28px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}

/* SECTIONS */

.section {
    padding: 100px 40px;
}

.section h2 {
    color: var(--mustard);
    margin-bottom: 40px;
}

.dark {
    background: var(--dark);
}

/* SERVICES */
.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.service-card {
    padding: 40px;
    border: 1px solid var(--mustard);
    text-align: center;
    transition: 0.3s;
}

.service-card:hover {
    background: var(--mustard);
    color: black;
}

/* PORTFOLIO */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.work img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 1px solid var(--mustard);
    transition: transform 0.3s ease-in-out;
}

/* ABOUT */
.about-text {
    max-width: 700px;
    line-height: 1.8;
}

/* CONTACT */
.contact {
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: black;
    font-size: 0.85rem;
}
/*@media (max-width: 600px){
    img{
        border-radius: 8px;
    }
}
*/